ul{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: right;
    right: 20px;
    top: 20px;
    list-style: none;
}
ul li{
    margin: 0 20px;
    font-size: 26px;
    min-width: 90px;
    height: 20px;
    line-height: 65px;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}
ul li a{
    color: black;
    font-weight: 1000px;
    text-decoration: none;
}
ul li:hover{
    background-color: #337ab7;
    transform: translateY(10px);
    border-radius: 8px;
}
.groupe{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.image{
    justify-content: left;
    margin-top: 150px;
    padding: 90px;
    box-sizing: border-box;
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.image img{
    height: 500px;
    width: 500px;
    border-radius: 100px;
    border: 10px solid  #fff;
}

h1{
    margin: 200px;
    font-size: 90px;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 strong{
    color: #337ab7;
}
h3{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    margin: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.boutona button{
    font-size: 20px;
    border-radius: 10px;
    background-color: #337ab7;
    width: 200px;
}
.boutona :hover{
    transform: translateY(3px);
    border-radius: 8px;
}
.boutonb button{
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    width: 200px;
}
.boutonb :hover{
    transform: translateY(3px);
    border-radius: 8px;
}
.moi{
    background-color: #337ab7;
    margin: 0px;
    padding: 15px;
}
h2{
    font-size: 50px;
    text-align: center;
     margin: 70px;
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
.apropos{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.apropos p{
    font-size: 30px;
    color: white;
    margin: 70px;
}
.competences {
    padding: 30px;
    gap: 500px;
    margin: 40px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.competence{
    color: #337ab7;
    margin-bottom: 20px;
}
.language{
    font-size: 60px;
}
.temoignage_card{ 
    background-color: rgba(255, 255, 255, 0.9);
    margin: 30px;
    padding: 40px;
    width: 460px;
    height: 500px;
    border-radius: 30px;
    backdrop-filter: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.cards{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    
}
.cards img{
    width: 505px;
    height: 300px;
    margin: 0px;
    padding: 0px;
}
.cards img :hover{
    transform: translate(10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
h5{
    font-size: 45px;
    margin: 10px;
}
p{
    font-size: 20px;
}
button{
    font-size: 20px;
    border-radius: 10px;
    background-color: #337ab7;
    width: 100px;
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.contact{
    justify-content: center;
}